* {
    font-family: 'Courier New', Courier, monospace;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.calculatorDisplay {
    width: 180px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    outline: 1px solid black;
    font: 'Roboto';
}

.currentOperation {
    font-size: small;
    color: grey;
}

.outputResult {
    font-size: large;
    color: black;
}

.calculatorButtons {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
}

button {
    width: 50px;
    height: 50px;
}

.plus {
    height: 100px;
}

.negMargin {
    margin: -50px 0 0 0;
}